/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background image */
body {
    background-image: url('images/background.jpg');
    background-size: cover; /* Ensures image covers the full viewport */
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: white;
}

header {
    text-align: center;
    padding: 100px 0;
    color: white;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

section {
    padding: 60px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    margin-bottom: 20px;
}

section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
